---
import Link from "./HeaderLink.astro";
import { Image } from "astro:assets";
import "../styles/hamburgers.css";
import lightLogo from '../icons/logo-light.svg';
import darkLogo from '../icons/logo-dark.svg';
---
<header>
  <nav
    class="flex container mx-auto md:p-10 px-4 py-6 items-center justify-between"
  >
    <a class="flex items-center gap-2" href="/">
      <Image class="w-12 hidden dark:block" src={darkLogo} alt="Logo" />
      <Image class="w-12 block dark:hidden" src={lightLogo} alt="Logo" />
      <p class="pt-2 md:text-3xl font-semibold flex">
        <span class="hidden md:block">Second Circuits</span>
      </p>
    </a>
    <ul class="items-center md:gap-8 text-nowrap hidden md:flex">
      <li><Link href="#Home" text="Home" style="primary" /></li>
      <li><Link href="#About" text="Who we are" style="secondary" /></li>
      <li><Link href="#Services" text="Our services" style="tertiary" /></li>
      <li><Link href="#Contact" text="Contact Us" style="primary" /></li>
    </ul>
    <div class="md:hidden z-40">
      <button class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div id="navigation" class="fixed top-0 left-0 w-full h-full bg-background transform -translate-y-full transition-transform duration-300 ease-in-out">
        <ul class="flex flex-col items-center justify-center h-full gap-8 text-nowrap">
          <li><Link href="#Home" text="Home" style="primary" /></li>
          <li><Link href="#About" text="Who we are" style="secondary" /></li>
          <li><Link href="#Services" text="Our services" style="tertiary" /></li>
          <li><Link href="#Contact" text="Contact Us" style="primary" /></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<script is:inline>
  function toggleMenu(hamburger, menu, show = null) {
    const isActive = show !== null ? show : !hamburger.classList.contains('is-active');
    
    hamburger.classList.toggle('is-active', isActive);
    menu.classList.toggle('-translate-y-full', !isActive);
    menu.classList.toggle('translate-y-0', isActive);
  }

  function init() {
    const hamburger = document.querySelector(".hamburger");
    const menu = document.getElementById("navigation");
    
    if (hamburger && menu) {
      // Handle hamburger button click
      hamburger.addEventListener("click", () => {
        toggleMenu(hamburger, menu);
      });

      // Handle menu item clicks
      const menuItems = menu.querySelectorAll('a');
      menuItems.forEach(item => {
        item.addEventListener('click', () => {
          toggleMenu(hamburger, menu, false);
        });
      });
    }
  }
  
  init();
  document.addEventListener("astro:after-swap", init);
</script>