---
---
<section id="About" class="p-10 flex flex-col justify-center items-center">
  <div class="md:w-2/3">
    <div class="text-left rounded-3xl border-1 border-text shadow-card group hover:shadow-hover transition px-4 py-6 flex flex-col gap-10">
      <div class={`bg-accent rounded-full text-4xl px-6 py-2 self-start border-1 border-text shadow-card1 group-hover:shadow-card transition`}>
        <h2 class="text-text text-3xl transition">Who we are</h2>
      </div>
    <h4 class="text-xl font-semibold">Born in the heart of Asheville, North Carolina, Second Circuits is pioneering a new approach to electronics recycling. Our unique three-way partnership model shares value between device donors, charitable causes, and our sustainability mission.</h4>
    <p class="text-lg">
      Through our innovative platform, we connect responsible tech users with buyers seeking quality pre-owned electronics, while directing 40% of every sale to vital charitable initiatives. As a local startup rooted in Western North Carolina's environmental values, we're transforming electronic waste into community impact.
      </p>
    </div>
  </div>
</section>
